<footer class="footer">
    <div class="footer-items">
        <div class="footer-section about-company">
            <p>The company ElectroHub has been selling electronics worldwide since 2025.<br>
                We cooperate with such famous brands as Apple, Samsung, Xiomi.</p>
        </div>
        <div class="footer-section"></div>
        <div class="footer-section">gigi74747474@gmail.com</div>
    </div>
</footer>